# Enable Bzlmod.
common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/world-federation-of-advertisers/bazel-registry/main
common --registry=https://bcr.bazel.build

# Use clang as C++ compiler.
build --repo_env='CC=clang'

# Use C++17 language features.
build --cxxopt='-std=c++17'

# Use JDK 17.
build --java_runtime_version=remotejdk_17

# Target Java 11.
build --java_language_version=11

# Pass environment variables.
test --test_env TESTCONTAINERS_RYUK_DISABLED=true

import %workspace%/maven.bazelrc
